/* Remove default body margin/padding */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  
  
 
}

/* Container for entire app */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 80%;
  max-width: 90vw;
 
  
}

/* Header stays on top, content fills the rest */
.content-wrapper {
  display: flex;
  flex: 1;
  max-width: 100%;

   
}

/* Sidebar styling */
.main-content {
  flex: 1;
  padding-left: 21rem;
  background-color: #f9f9f9; /* optional light background */
  position: relative;
  top:53px;
  left:15rem;
  
}

/* Optional: remove sidebar padding/margin if needed */
